.button {
  background-color: var(--primary);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.button1 {
  border-radius: 50%;
  height: 224px;
  width: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1:hover {
  filter: brightness(90%);
}

.button2{
  background-color: var(--primary);
}

.button2:hover {
  filter: brightness(90%);
}

.search-bar {
  width: 600px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  background: #ECE6F0;
  margin-right: 1.5%;
}
.search-bar:hover {
  filter: brightness(90%);
}