body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  color: #11101d;
  background-color: #ffffff;
}

.sidebar {
  height: 100%;
  width: 240px;
  background-color: #f5f6f7;
  position: fixed;
  padding: 6px 14px;
  justify-content: center;
  border-right: 1px solid #e2e8f0;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  z-index:100;
}

.sidebar .logo-content .logo {
  color: #11101d;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

.logo-content .logo i {
  font-size: 28px;
  margin-right: 10px;
  margin-left: 1px;
  color: #11101d;
}

.logo-content .logo-name {
  font-size: 20px;
  font-weight: 500;
  color: #11101d;
}

.sidebar #btn {
  position: absolute;
  color: #11101d;
  left: 90%;
  top: 6px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li a {
  color: #374151;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 12px;
  padding-left: 10px;
}

.sidebar ul li a:hover {
  filter: brightness(90%); 
  color: #11101d;
  background-color: #e5e7eb;
}

.sidebar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  color: #6b7280;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover i {
  filter: brightness(90%);
}

.sidebar ul li a.active {
  background-color: #e5e7eb;
}

